@font-face {
    font-family:KarlaItalic ;
    src: url('../public/fonts/Karla/Karla-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family:Karla ;
    src: url('../public/fonts/Karla/Karla-VariableFont_wght.ttf');
}
@font-face {
    font-family:RobotoBlack ;
    src: url('../public/fonts/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family:RobotoBold ;
    src: url('../public/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family:RobotoMedium ;
    src: url('../public/fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family:RobotoRegular ;
    src: url('../public/fonts/Roboto/Roboto-Regular.ttf');
}